@import 'src/styles/sizes';

:root {
  --emoji-wrapper-border-color: var(--gray-lightest);
  --emoji-wrapper-border-color-hover: var(--gray-lighter);
}

.reactions-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.25rem;
  user-select: none;
}

.emoji-wrapper {
  background: none;
  border-radius: 1rem;
  padding: 0.375rem 1rem;
  line-height: 1;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid var(--emoji-wrapper-border-color);
  margin-right: 0.25rem;

  em-emoji {
    [dir='ltr'] & {
      margin-right: 0.25rem;
    }

    [dir='rtl'] & {
      margin-left: 0.25rem;
    }
  }
}